<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registration Page</title>
  <link rel="stylesheet" type="text/css" href="/css/registration_style.css">
</head>
<body>
<div class="registration-container">
  <h2>Registration Form</h2>
  <form th:action="@{/auth/register}" method="post" th:object="${person}">
    <label>
      <input type="text" th:field="*{username}" placeholder="Name" required />
      <span th:if="${#fields.hasErrors('username')}" class="error-message" th:errors="*{username}">Error Message</span>
    </label>
    <label>
      <input type="password" th:field="*{password}" placeholder="Password" required />
      <span th:if="${#fields.hasErrors('password')}" class="error-message" th:errors="*{password}">Error Message</span>
    </label>
    <label>
      <input type="text" th:field="*{year_of_birth}" placeholder="Year of Birth" required />
      <span th:if="${#fields.hasErrors('year_of_birth')}" class="error-message" th:errors="*{year_of_birth}">Error Message</span>
    </label>
    <button type="submit">Register</button>
  </form>
</div>
</body>
</html>
